<!-- product-list.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Product Management System</title>
</head>
<body>
<h1>Products list</h1>
<div class="container">
    <h2>Add Product</h2>
    <form th:action="@{/products/add_product}" th:object="${productModel}" method="post">
        <div class="form-group">
            <label for="product_name">Product Name:</label>
            <input id="product_name" class="form-control" type="text" name="product_name" placeholder="Product Name" th:field="*{product_name}"
                   required>
        </div>
        <div class="form-group">
            <label for="product_description">Product Description:</label>
            <input id="product_description" class="form-control" type="text" name="product_description" placeholder="Product Description" th:field="*{product_description}"
                   required>
        </div>

        <div class="form-group">
            <label for="product_price">Product Price:</label>
            <input id="product_price" class="form-control" type="number" name="product_price" placeholder="Product Price" th:field="*{product_price}" required>

        </div>

        <button type="submit" class="btn btn-primary">Save Product</button>
    </form>

    <div class="back-to"><a href="/products">Back to Products List</a></div>

</div>

</body>
</html>
