<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit Product</title>
</head>
<body>
<h1>Edit Product</h1>
<div class="container">
    <form th:action="@{/products/edit/{id}(id=${productModel.product_id})}" th:object="${productModel}" method="post">

        <input type="hidden" th:field="*{product_id}">
        <div class="form-group">
            <label for="product_name">Product Name:</label>
            <input type="text" id="product_name" class="form-control" name="product_name" th:field="*{product_name}"
                   required>
        </div>

        <div class="form-group">
            <label for="product_description">Product Description:</label>
            <input type="text" id="product_description" class="form-control" name="product_description"
                   th:field="*{product_description}"
                   required>
        </div>

        <div class="form-group">
            <label for="product_price">Product Price:</label>
            <input type="number" id="product_price" class="form-control" name="product_price"
                   th:field="*{product_price}" required>
        </div>
        <button type="submit" class="btn btn-primary">Save Product</button>
    </form>

    <div class="back-to"><a href="/products">Back to Products List</a></div>
</div>


</body>
</html>